{% extends 'layout.html' %}


{% block body %}
<h1 style ="text-align:center;">About</h1>
<hr>

<p style = "font-family: serif; font-size: 22px; font-style: bold;">    
    Hi, I'm Ömer Üçüncü. I study at Sakarya University and my department is Management Information Systems at 2nd grade. I built this site in order to create community in Turkey whose department is MIS. In this blog every MIS community under universities can share their own posts, essays, new developments around the world. Furthermore, sharing educative materials and more. Basically I created a community around Turkey.   
</p>
<br><br>
<div class="card text-bg-info mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Contact</h5>
      <p class="card-text">You can contact me through these adresses below.</p>
      <a href="https://github.com/om3rd" class="card-link">Github</a>
      <a href="https://www.linkedin.com/in/%C3%B6mer-%C3%BC%C3%A7%C3%BCnc%C3%BC-39b807233/" class="card-link">Linkedln</a>
    </div>
</div>
{% endblock body %}

